body{
    padding: 0;
    margin: 0;
}

.centrado{
    margin-left: 30%;
}

.btn-numero{
    width: 100%;
    background-color: gray;
    border-radius: 2px;
    height: 50px;
}

.btn-operacion{
    width: 100%;
    background-color: rgb(218, 213, 213);
    border-radius: 2px;
    height: 50px;
}

table{
    width: 50%;
}

#resultado{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
}