body{
    padding: 0;
    margin: 0;
}

header{
    max-height: 60px;
    background-color: azure;
}

.div-logo{
    max-width: 150px;
}

.img-logo{
    max-height: 60px;
    max-width: 300px;
    object-fit: contain;
}

aside{
    position: absolute;
    top:0;
    bottom: 0;
    width: 300px;
    background-color: beige;
    z-index: -100;
}

.div-main{
    margin-left: 300px;
    background-color: blanchedalmond;
    height: calc(100vh - 60px);
}

h3{
    margin: 0;
}

.div-center{
    text-align: center;
}

.div-form{
    display: inline-block;
    width: 49%;
    margin: 0;
}

label{
    display: block;
    margin: 10px;
}

input{
    width: 100%;
}

.error{
    color: red;
    margin-left: 15px;
    padding: 5px;
    border: 1px rebeccapurple dashed;
}


@media screen and (max-width: 900px){
    .div-form{
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .div-form{
        display: block;
        width: 100%;
    }

    aside{
        display: none;
    }

    .div-main{
        margin-left: 0;
    }

    .div-datos-contacto{
        display: none;
    }

}

.div-radios input{
    width: auto;   
}