body{
    padding: 0;
    margin: 0;
}

.div-main{
    display: flex;
    height: 30vh;
    flex-direction: row;
    align-items: center;
}

.div-main div{
    background-color: blue;
}

.div-uno{
    order: 2;
    flex-grow: 1;
    flex-basis: 100px;
}

.div-cuatro{
    order: 1;
    flex-grow: 2;
    flex-shrink: 1;
    align-self: flex-start;
}

.div-dos{
    flex-grow: 1;
    align-self: center;
}

.div-tres{
    flex-grow: 1;
    align-self: flex-end;
}