body{
    background-color: #a4c9e7;
    /*padding: 10px;*/
    margin: 0;
    padding: 0;
}

header{
    background-color: darkgray;
    height: 50px;
    text-align: center;
}

.div-titulo{
    width: 100%;
    padding-top: 10px;
}

.span-titulo{
    font-size: 20px;
    color: blueviolet;
}

.table-perfiles{
    width: 100%;
    border: 2px tomato solid;
    margin-top: 15px;
}

td{
    border: 2px tomato solid;
}

.td-table-perfiles{
    width: 50%;
}

.td-table-perfiles-height{
    height: 250px;
    text-align: center;
}

.span-titulo, 
.th-table-perfiles,
td,
#span-selectores
{
    font-weight: bold;
}

.div-principal td,
#span-selectores
{
    background-color: brown;
}

.div-padre > div > p{
    background-color: chartreuse;
}

.div-padre p + div > p{
    font-size: 20px;
}

.p-atributo{
    font-size: 30px;
}

.p-atributo-dos{
    font-weight: bold;
}

.p-atributo-tres{
    text-decoration: line-through;
}

[class]{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

[class="p-atributo"]{
    background-color: darkorange;
}

[class~="p-atributo-dos"]{
    background-color: darkslateblue;
}

[class|="p"]{
    font-style: italic;
}

[class^="div"]{
    color: deeppink;
}

[class$="uto"]{
    color: forestgreen;
}

[class*="uto"]{
    color: honeydew;
}

.p-atributo:hover{
    color: black;
    background-color: white;
    border: 4px blue solid;
    border-radius: 10px 20px;
}

#span-selectores:active{
    color: black;
    background-color: white;
}