
/*
    POSICIONAMIENTO
*/

/*
    @media operadorLogico(only, not) mediaType(all, screen, speech, print) 
           operadorLogico(not, and, only) mediaFeature(min-width, etc)
*/

@media screen and (max-width:700px){
    .div-siete{
        width: 100%;
        height: 100%;
        background-color: cornsilk;
        position: relative;
        box-sizing: border-box;
    }
    
    .div-ocho{
        width: 100%;
        height: 100%;
        background-color: darkslategray;
        position: relative;
        box-sizing: border-box;
    }

    .div-uno{
        display: none;
    }

    .div-seis{
        margin-left: 0;
    }

    .div-nueve{
        width: 100%;
        margin-left: 0;
        overflow-x: scroll;
    }
}

@media screen and (min-width:700px){
    .div-siete{
        width: 49.5%;
        height: 100%;
        background-color: cornsilk;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
    }
    
    .div-ocho{
        width: 49.5%;
        height: 100%;
        background-color: darkslategray;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
    }

    .div-uno{
        width: 150px;
        background-color: blue;
        position: absolute;
        top: 0;
        bottom: 0;
        /*z-index: 1000;*/
    }

    .div-seis{
        background-color: chartreuse;
        /*
            viewport: 
                width: vw.
                height: vh.
        */
        height: calc(100vh - 500px);
        clear: both;
        position: relative;
        margin-left: 150px;
    }

    .div-nueve{
        margin-left: 150px;
    }
    .tabla{
        border-collapse: collapse;
        border: 3px slategray solid;
        caption-side: bottom;
    }

    .tabla td{
        border: 1px red solid;
    }

    .tabla th{
        border: 2px red solid;
    }
}

@media print{
    .print{
        display: block;
    }
    .no-print{
        display: none;
    }
    .no-print table{
        border: none;
    }
    .no-print > table td{
        border: none;
    }
}

body{
    background: radial-gradient(circle, blue 15%, green 10%, orange 50%);
    /*padding: 10px;*/
    margin: 0;
    padding: 0;
}



.div-dos{
    height: 130px;
    background-color: red;
    margin-left: 150px;
    left: 0;
    right: 0;
    display: none;
    /*visibility: hidden;*/
}

.div-tres{
    height: 120px;
    width: 41%;
    background-color: royalblue;
    margin-left: 150px;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
}

.div-cuatro{
    height: 150px;
    width: 41%;
    background-color: saddlebrown;
    /*margin-left: 150px;*/
    float: left;
}

.div-cinco{
    width: 100%;
    background-color: blueviolet;
    clear:both;
    display: none;
}

span{
    display: block;
}
