*{
    font-family: sans-serif;
    list-style: none;
}

button {
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: rgb(63, 80, 102);
}

.datos{
    background-color: rgb(187, 192, 199);
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.informacion-profesional,
.informacion-personal,
.habilidades{
    background-color: rgb(77, 98, 126);
    color: antiquewhite;
}

table{
    margin: auto;
    text-align: center;
    border: solid rgb(77, 98, 126) 2px;
    
}

.table{
    margin-left: 30%;
    margin-right: 30%;
}

.titulo{
    text-align: center;
    font-size: 1.6rem;
    color: antiquewhite;
    background-color: rgb(77, 98, 126) ;
}

.volver {
    text-decoration-line: none;
    text-align: center
}

.volver p{
    color: black;
    font-size: 0.8rem;
    margin: auto;
    color: antiquewhite;
}

@media screen and (max-width:767px){
    table{
        margin: auto;
        text-align: center;
        border: solid rgb(77, 98, 126) 2px;
    }

    .table{
        margin-left: 0;
        margin-right: 0;
    }
}







