*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 60px;
    background-color: grey;
}

section{
    margin: 20px;
}

article > div{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form-datos div{
    margin: 15px;
}

.form-datos div input,
.form-datos div select{
    width: 100%;
    height: 30px;
}

.form-datos div button{
    width: 50%;
    height: 25px;
}
.div-tabla{
    width: 100%;
}
.tabla-datos{
    width: 100%;
    border-collapse: collapse;
    font-size: 24px;
    margin-top: 20px;
    box-shadow: 5px 5px grey;
}

fieldset{
    box-shadow: 5px 5px grey;
}

.tabla-datos th{
    border: 1px royalblue solid;
    background-color: rgba(194, 194, 194, 0.5);
    vertical-align: middle;
}

.tabla-datos td{
    border: 1px royalblue solid;
    height: 50px;
}

.tabla-datos button{
    width: 50%;
    height: 30px;
}